<br>
<div class="media">
  <img class="mr-3" style="width: 8rem;" src="https://cdn-icons-png.flaticon.com/512/497/497492.png">
  <div class="w-25 media-body">
    <h5 class="mt-0">Miro REST Sticky Notes</h5>
    This sample app demonstrates the use of the Miro REST API's <a href="https://beta.developers.miro.com/docs/stickynote-1" target="_blank">Sticky Note endpoints</a>. It makes use of each of the available CRUD (create, read, update, delete) methods to add and manage Sticky Notes on a Miro board. It also provides an example of creating Miro Sticky Notes from external structured data (.CSV file) and embedding a Miro board via direct link. Use the navigation at the top to explore these capabilities, and the board below to view your updates.
  <br><br> 
  <button type="button" class="btn btn-success">
    <a href="https://miro.com/oauth/authorize/?response_type=code&client_id=3458764522759143734&redirect_uri=https://wicked-towns-relax-213-127-73-180.loca.lt" style="text-decoration: none; color: white">Authorize App</a>
  </button>
  
  </div>

</div>

<div>
    <br><br>
    <iframe src="https://miro.com/app/live-embed/uXjVO3uxTbk=" frameborder="0" style="width: 70rem; height: 60rem;"></iframe>
</div>