

<div>
    <h3>Create App Card</h3>
     <form class="form form-group" action="/get-card" method="GET">
        <input class="btn btn-primary" id="submit" type="submit" value="GET appCard"/>
     </form>
    <p>I'm content coming from app.js: "{{content.title}}"</p>
    <iframe src="https://miro.com/app/live-embed/uXjVOHbG8r4=" frameborder="0" style="width: 60rem; height: 60rem;"></iframe>
</div>

{{!-- <script>
$('#submit').click(function(){ 
   $('div').css('visibility','visible');
}); 
</script> --}}