<br>
<h2>Cards on Board</h2>
<br>

<div>
    <button class="btn btn-warning" onClick="fetchNewCards()">Fetch Cards</button>
</div>

<br>
<ul class="message-list" style="list-style: none;">
    {{#each miroData}}
    <h5 class="message-header">App Card</h5>
        <li><strong>ID:</strong> {{this.id}}</li>
        <li><strong>Title:</strong> {{this.data.title}}</li>
        <li><strong>Description:</strong> {{this.data.description}}</li>
    <hr>
    {{/each}}
</ul>

<script>
    function fetchNewCards(){
        window.location.reload();
    }
</script>